src/wsdl/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://localhost:8080/xsd/hello"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="greeting" type="xs:string"/>
</xs:schema>